@import "tailwindcss";
@config "../tailwind.config.js";




@custom-variant dark (&:where(.dark, .dark * ));




@keyframes marquee{
  0% { transform: translate(0%);}
  100% { transform: translate(-33.33%); }
}

.animate-marquee{
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite ;
}

.animate-marquee:hover{
  animation-play-state: paused;
}


/* body{
  background: #000;
} */

/* index.css or globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}


@layer base {
  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-300;
  }
  .dark body {
    @apply bg-gray-900 text-gray-100;
  }
}

